#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
}

#pagination {
  justify-content: center;
}

#pagination button {
  border-radius: 20px;
  border-width: 0;
  background-color: #ff00009e;
  color: rgb(233, 233, 233);
  border: 2px solid transparent;
}

#pagination button:hover {
  border: 2px solid rgb(233 233 233 / 59%);
  background-color: #ff0000d5;
}

#pagination button:disabled {
  border: 2px solid rgba(156, 68, 68, 0.678);
  background-color: #ff00004f;
  font-weight: 700;
  color: rgb(228 228 228 / 58%);
}